<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
<a href="index.html" th:href="@{/app/home}">Back to Home Page</a>
<h1>aaaa</h1>
</body>
</html>

<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
</head>
<body>
<div class="errorPage">
    <span class="oops">Oops!</span><br/>
    <img th:src="@{/MissingPage.png}"></img>
    <p>There seems to be a problem with the page you requested
        (<span th:text="${path}"></span>).</p>
    <p th:text="${'Details: ' + message}"></p>
</div>
</body>
</html>-->
